* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

  background-color: aquamarine;

  font-family: Verdana, Tahoma, sans-serif;
  font-size: 12px;
}

.slider-wrapper input {
  display: none;
}

.slider-container {
  width: 400px;
  height: 500px;

  margin: 50px auto;
}

.slider-wrapper {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: 'slide slide'
                        'description btns';
  row-gap: 20px;
}

.slider-line,
.slider-line-description {
  display: flex;
  
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-line {
  grid-area: slide;
}

.slider-line-wrapper {
  display: flex;
  width: calc(100% * 400px);
  height: 100%;
  transition: transform 1s ease-in;
}

.slider-line-description-wrapper {
  display: flex;
  width: calc(100% * 400px);
  height: 100%;
  transition: transform 1s ease-in;
}

.slider-line-wrapper .slide {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 400px;
}

.slider-line-description {
  grid-area: description;
}

.slide1 {
  background-image: url('https://kartinkof.club/uploads/posts/2022-03/1648332889_3-kartinkof-club-p-memi-so-stetkhemom-3.jpg');
}

.slide2 {
  background-image: url('https://sun9-56.userapi.com/impg/yXH8LfFjQOBx3mJBiMbXXHePWaSejXRtkGRtFg/mg4amHn1uqI.jpg?size=511x509&quality=96&sign=212586ac98d0053ca555bc434d1d064a&c_uniq_tag=cmqG8IRUii474TZiwtSIHXj1oFkJPEklLxM5f7crdME&type=album');
}

.slide3 {
  background-image: url('https://rg.ru/uploads/images/214/34/49/B0760B6F-187C-404B-BD83-4569742A2A39.jpeg');
}

.slide4 {
  background-image: url('https://cdn.trinixy.ru/pics6/20210726/215638_1_1627314613_trinixy_ru.jpg');
}

.slider-line-description-wrapper .slide {
  display: inline-block;

  width: 400px;
  height: 100%;
  padding-right: 10px;
}

.slider-buttons-wrapper {
  display: flex;
  justify-content: space-around;
  grid-area: btns;
}

.slider-buttons-wrapper label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 10px;
  transition: all 1s ease-in;
}

.slider-buttons-wrapper label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(50%, 50%);
  transition: all 0.8s ease;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  border: 1px solid red;
  background-color: black;
}